.navbar {
  background-color: #112733;
  color: white;
  position: fixed;
  width: 100%;
  position: absolute;
  top: 1000px;
  height: 50px;
}

.navbar-text {
  color: white;
  color: white;
  font-size: 14px;
  font-family: Roboto;
}
.container-fluid {
  margin-left: 10px;
  margin-right: 10px;
}
